<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/dreamscale/logback/common.xml" />

	<logger name="org.dreamscale" level="DEBUG"/>

    <appender name="CAPTURE" class="org.dreamscale.logging.LogbackCaptureAppender"/>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CAPTURE" />
	</root>

</configuration>