<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="net/twilightcity/logback/common.xml"/>

    <logger name="net.twilightcity" level="DEBUG"/>

    <appender name="CAPTURE" class="net.twilightcity.logging.LogbackCaptureAppender"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="CAPTURE"/>
    </root>

</configuration>
